:root {
  --mineBlue: #038fec;
  --mineGray: #eeeeee;
  --mineDarkBlue: #001a55;
}

@font-face {
  font-family: 'Test';
  src: url(../font/Courier_New.ttf);
}

/* ---------------Zeroing--------------- */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  font-family: ui-monospace, system-ui, fantasy;
  font-size: 18px;
  width: 100%;
  height: 100%;
  background: url("../img/background.png") fixed right bottom no-repeat;
  background-size: cover;
}

/* ---------------------------------------------Preloader --------------------------------------------- */
.load-wrapp {
  display: flex;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #9e9e9e;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.letter-holder {
  padding: 16px;
}

.letter {
  display: inline-block;
  font-size: calc((100vw - 480px)/(1920 - 480) * (90 - 30) + 30px);
  color: rgb(0, 0, 0);
}

/* =Animate the stuff
------------------------ */

.load .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

.l-1 {
  animation-delay: 0.48s;
}

.l-2 {
  animation-delay: 0.6s;
}

.l-3 {
  animation-delay: 0.72s;
}

.l-4 {
  animation-delay: 0.84s;
}

.l-5 {
  animation-delay: 0.96s;
}

.l-6 {
  animation-delay: 1.08s;
}

.l-7 {
  animation-delay: 1.2s;
}

.l-8 {
  animation-delay: 1.32s;
}

.l-9 {
  animation-delay: 1.44s;
}

.l-10 {
  animation-delay: 1.56s;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loaded_hiding .load-wrapp {
  transition: 0.2s opacity;
  opacity: 0;
  overflow: hidden;
}

.loaded .load-wrapp {
  display: none;
}


/* ---------------------------------------------Scrolling --------------------------------------------- */
/* W3C standard
сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mineBlue) var(--mineGray);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--mineGray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mineBlue);
}

/* ---------------Fixed menu------------- */

#menu-content ul {
  z-index: 100;
  display: table;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 36.34px 9.66px rgb(0 0 0 / 14%);
  font-size: 15px;
}

#menu-content>ul>li {
  display: table-cell !important;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu-content ul li a {
  white-space: pre;
  color: rgb(41, 26, 42);
  align-items: center;
  display: table-cell !important;
  vertical-align: middle;
  width: 20%;
  text-align: center;
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: border-color 1s cubic-bezier(0.85, 0.03, 0.05, 1.02);
}

#menu-content ul li a:hover {
  content: "";
  background-color: var(--mineBlue);
  color: #fff;
}

#menu-frame>li>a.active {
  border-bottom: 3px solid rgb(3 143 236);
}

#menu-frame li a {
  border-left: 1px solid rgb(233, 233, 233);
}

#menu-frame li:first-child a {
  border-left: none;
}

@media screen and (min-width: 612px) {
  #menu-content ul {
    width: 500px;
    right: 2%;
    top: 0px;
    border-radius: 0px 0px 25px 25px;
    height: 68px;
  }

  #menu-frame>li:first-child>a {
    border-radius: 0px 0px 0px 25px;
  }

  #menu-frame>li:last-child>a {
    border-radius: 0px 0px 25px 0px;
  }

  #menu-frame>li a {
    height: 65px;
  }
}

@media screen and (max-width: 611px) {
  #menu-content ul {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 48px;
  }

  #menu-frame>li a {
    height: 45px;
  }
}

/* ---------------Content--------------- */
/* General */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: calc(100vw-8px);
}

.page-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* Individual section */
#page1 {}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.textMarker {
  user-select: none;
  transform: translateX(-20px);
  animation: pointInput 1s cubic-bezier(0.85, 0.02, 0, 0.97) infinite;
}

@keyframes pointInput {
  0% {
    color: #000;
  }

  49% {
    color: #000;
  }

  50% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}

.title-img {
  width: 50%;
  min-width: 340px;
}

h1 {
  font-family: "Test";
  font-size: calc((100vw - 380px)/(1920 - 380) * (85 - 35) + 35px);
  /*   font-size: calc(58px + 16 * (100vw / 1920));
  font-size: clamp(32px, 3vw, 60px); */
  width: 100%;
  text-shadow: #fff;
}

h1::first-line {
  font-size: calc((100vw - 380px)/(1920 - 380) * (45 - 20) + 20px);
}



@media screen and (max-width: 650px) {
  header {
    flex-direction: column-reverse;
  }

  h1 {
    text-align: center;
  }
}

h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

#page2 {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 25px 1px #00000038;
}

.user-image {
  background: black url("../img/user.png") center no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  margin-top: 25px;
  width: 100%;

}


#page3 {}

#page3>.page-area {
  background: url("../img/background2section.png") left bottom;
  background-size: cover;
  margin: 20px 0 20px;
  box-shadow: 0px 0px 73px 0px #00000063;
  border-radius: 35px;
  justify-content: center;
  flex-direction: column;
}

#page4 {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 25px 1px #00000038;
}

#page4>.page-area {
  padding: 0;
}

#page5 {
  min-height: calc(100vh - 50px);
}



@media screen and (max-height: 490px) {
  .title-img {
    display: none;
  }
}

/* Footer */
footer {
  backdrop-filter: invert(1);
  display: grid;
  align-content: center;
  width: 100%;
  height: 50px;
  /* 	background-color: var(--mineDarkBlue); */
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px black;
}

h3 {
  font-size: 25px;
}



/* Work list swipper ----------------------------------------------------------------------- */
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  /*   margin: auto; */
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    /* min-height: 500px; */
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #0099ff 0%, #005995 74%);
  box-shadow: 0px 0px 10px 1px #038fec82;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #0099ff2e 0%, #00599529 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #0099ff 0%, #005995 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgb(3 143 236 / 47%);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--mineBlue);
  height: 30px;
  box-shadow: 0px 0px 20px #038fec69;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}




/* Skill */
.skills {
  margin-bottom: 0;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.skills-item {
  width: 40%;
  margin: 25px;
}

.skills-list dt {
  margin: 0 0 8px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-icon {
  float: left;
  height: 28px;
  margin: 0 10px 0 0;
}

.level {
  height: 28px;
  text-align: right;
  background-color: #ffffff;
  box-shadow: inset 0 0 12px #afafaf;
  border: 1px solid var(--mineGray);
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}

/* .skills .level div */
#page3 > div > dl > div > dd > div {
  margin: 0;
  height: 100%;
  letter-spacing: 1px;
  background-color: #5053a8;
  background-image: url(../img/progress-pattern.svg);

}

@media all and (max-width:610px) {
  .skills-item {
    width: 100%;
    margin: 0 0 25px 0;
  }
}